.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.title{
    padding: 20px 0;
}
.questionText{
    color: darkcyan;
    font-size: 16px;
    font-weight: bold;
}

.optionWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}
.btn{
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}